
        .navbar {
            padding-left: 3rem;
            padding-right: 3rem;
            margin-bottom: -2rem;
          }
                

        header{
            margin-bottom: -1rem;
        }
          
        .idk{
            margin-bottom: -1rem;
        }
        
        .tlac{
            margin-top: 1rem;
        }